@import "~bootstrap/dist/css/bootstrap.min.css";

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.div0528 img {
  object-fit: cover;
  border: 1px solid black;
}

.div0528 {
  position: relative;
}

#bline-20210528 {
  position: absolute;
  top: 855px;
  left: 160px;
  height: 60px;
  width: 800px;
  display: flex;
}

#blinev-20210528 {
  position: absolute;
  top: 116px;
  left: 100px;
  height: 800px;
  width: 62px;
  display: flex;
  flex-direction: column;
}

.bitem-20210528 {
  position: relative;
  width: 79.5px;
  height: 60px;
  border: 1px solid red;
  cursor: pointer;
}

.bitemv-20210528 {
  position: relative;
  width: 62px;
  height: 123px;
  border: 1px solid red;
  cursor: pointer;
}

.imgmodal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-modal {
  width: 90vw;
  max-width: 90vw;
}
